*{
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
    background-color: #fcdff3;
	position: relative;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.nav-bar{
	display: flex;
	padding: 40px 120px;

}
#JAS{
	float: right;
	width: 35%;
	border: 5px solid #fcd3c1;
	border-radius: 10%;
	margin-left: 20px;

}
#text{
	width: 55%;
	padding-right: 20px;

}
#text2{
	text-align: justify;
}
.nav-logo img{
	width:135px;
	border: 5px solid #fcd3c1;
	border-radius: 30%;
	background-color: #fcd3c1;

}

.nav-links{
	flex:1;
	z-index: 2;

}

.nav-links ul{
	margin-left:50px;
	display: inline;

}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}

.nav-links ul{
	font-color: black;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul a {
	background-color: #fcd3c1 ;
}

.nav-links ul li::after{
	content: '';
	width: 0;
	height: 5px;
	background-color: #fcd3c1;
	display: block;
	margin:auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

.banner-title{
	margin: 35px 130px;
    text-shadow: transparent;
	font-weight: bolder;
	
}

.banner-title h1{
	font-size: 64px;
	margin-bottom: 30px;

}

.banner-title h1 .span{
	color: black;
	background-color: #fe929f;
}

.banner-title h1 span{
	color: #fe929f;
	background: #ece4e2 ;
}

.sodrzina{
	margin:100px;
}


.notifications{
	display: flex;
	width: 400px;
	right: 0;
	bottom:0;
	position: relative;
	float:right;
	background: #fcd3c1 ;
	height:90px;
	align-items: center;
	border-radius:10px;
	border: solid 3px #fe929f;
}

small{
	color: black;
	font-size: 15px;
	text-align: center;
}


.contents{
	flex-basis: 70%;
	padding: 15px;
}

.notification-img{
	flex-basis: 30%;
}
.notifications{
	margin-right: 100px;
	margin-top:5px;
}
.notification-img img{
	height:90px;
	padding-right: 10px;
}

.nav-bar .fa{
	display: none;
}

 .tekst{
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}

.BMI{
	text-decoration: underline;
	font-weight: 600;
	color: #fe929f;
	font-size: 15px;
}

.container{
	margin-left: 500px;
	margin-top: -100px;
	background-color:#fe929f;
	color:black;
	width:300px;
	padding:25px;
	border-radius:25px;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.meaning{
	text-align: center;
	color:white;
	background: black;
}
.form-group input{
	border-radius:2px;
	border:2px;
	border-color: black;
	padding:2px;
}

#outer{width:600px;text-align:center; margin-left: 300px; margin-top: -50px;}
#cover{border:2px ;border-radius:7px;box-shadow:inset 0 0 13px #fe929f;padding:7px 0; background:#fe929f}
.main{table-layout:fixed;width:94%;border:0;border-collapse:collapse;margin:2 auto;}
.main td{padding:5px 8px;vertical-align:middle;text-align:left;border:0;font:700 15px arial}
.main input{width:96%;border:2px solid #ccc;border-radius:5px;margin:2px 0;padding:0 2%;height:17px;text-align:right;font:600 14px arial;background:none;color:#fe929f;}td.ac {text-align:center}
.main select{width:100%;border:1px solid #ccc;border-radius:5px;margin:2px 0;background:#fff;height:18px;font:600 14px arial;color:#fe929f;}
.w60{width:60%}.w40{width:40%}
.main button{background-color:#fe929f; border: none;color: white;border-radius: 8px;padding: 5px;width:100%;font:600 12px arial;margin:2px 0;}
.healthyWeight {
	color: white;
	font-size:18px;
	text-align:center;
	opacity: 0.8;
    filter: alpha(opacity=70);
  }

.container-fluid{
	  padding: 15px;
}

.input-label {
  width: 100%;
  text-align: left;
  color:black;
  font-weight: bold;
}

.input-select {
  width: 100%;
}
.input-group {
  width: 100%;
}

.container-fluid{
	margin-left:400px;
	margin-top: -20px;
	width:450px;
	background-color:#fe929f;
	padding:25px;
	border-radius:25px;
	opacity: 0.7;
    filter: alpha(opacity=70);
	color: black;
}

.h3{
	text-align: center;
	font-size: 22px;
}
.row{
	padding:3px;
}
.form-group input {
	color:black;
	width:30%;
	font-weight: bold;

}
.btn_btn-toggle {
  color:black;
  border-radius: 5px;
  font-weight: bold;
 
}


select {
	color:black;
	font-weight: bold;}

#Border{
	text-align: center;
	color: white;
	background: #fe929f;
}

#Border1{
	color:white;
	background: #fe929f;
}

#Border2{
	border:solid 1px #fe929f;
}

.sm{
	width:50px;
}
/*
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

.topnav .icon {
	display: none;
}
*/
.topnav{
	flex:1;
	z-index: 2;

}
.topnav a li:hover {
	background-color: white;
	color: black;
}

.topnav ul{
	margin-left:50px;
	display: inline;

}

.topnav ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 25px;
}

.topnav ul{
	font-color: black;
	text-decoration: none;
	font-size: 20px;
}

.topnav ul a {
	background-color: #fcd3c1 ;
}

.topnav ul li::after{
	content: '';
	width: 0;
	height: 5px;
	background-color: #fcd3c1;
	display: block;
	margin:auto;
	transition: 0.5s;
}
.topnav ul li:hover::after{
	width: 100%;
}


	@media screen and (max-width: 700px) {
		.topnav a {display: none;}
		.topnav a.icon {
			float: right;
			display: block;
		}
	}





@media (max-width: 700px) {
	.vertical-bar {
		display: none;
	}

	.banner-title {
		margin: 50px 40px;
	}

	.banner-title h1 {
		font-size: 35px;
	}

	.notifications {
		width: 95%;
		margin-right: 5px;
	}

	.nav-bar {
		padding: 10px 30px;
	}
/*
	.fa-bars {
		position: absolute;
		right: 20px;
		top: 10px;
	}
	*/
        .nav-bar .fa {
            display: block;
            color: #fe929f;
            //margin: 10px 25px;
            font-size: 22px;
            cursor: pointer;
        }

	.nav-links {
		width: 200px;
		background: #fcd3c1;
		top: 0;
		right: -200;
		position: absolute;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}

	.nav-links ul a {
		display: block;
	}

	.nav-links .btn {
		float: none;
		margin-left: 25px;
		margin-top: 10px;
	}

	.tekst {
		margin-left: 30px;
		margin-right: 30px;
		text-align: center;
		margin-bottom: 100px;
	}

	.nav-links ul {
		font-color: black;
		text-decoration: none;
		font-size: 15px;
	}

	.container {
		margin-left: 15px;
		margin-bottom: 10px;
		margin-top: 0px;
	}

	#outer {
		margin-left: 0px;
		margin-right: 10px;
		margin-bottom: 10px;
		margin-top: 0px;
		width: 350px;
	}

	.container-fluid {
		margin-left: 2px;
		margin-bottom: 10px;
		margin-top: 0px;
		width: 350px;
	}

	#JAS {
		width: 100%
	}

	#text {
		width: 100%;
	}
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		margin-left: 5px;
	}
}

